.header {
  border-bottom: 1 px solid white;
  background-color: rgb(52, 77, 9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  
  nav {
   text-decoration: none;
   color: white;
   display:flex;
   text-align: center;
   list-style: none;
   align-items: center;
   gap: 0.5rem;
   margin: 0;
   padding: 0;
}

.logo-img {
  display: block;
  height: auto;
  width: 100px;
}
}